* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(8,59,76,255);
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#square-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1%;
}

.square {
    width: calc(94% / 7);
    aspect-ratio: 1;
    background-color: rgba(19,137,178,255);
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: white;
    padding: 35px;
}

.fizz {
    background-color: rgba(11,214,161,255);
}

.buzz {
    background-color: rgba(255,209,102,255);
}

.fizzbuzz {
    background-color: rgba(240,70,111,255);
}